<div class="login-container">
  <div class="login-box">
    <ngb-alert *ngIf="alert.successMessage" type="danger" dismissible="true" (close)="closeAlert()">{{alert.message}}</ngb-alert>
    <form #loginForm="ngForm">
      <div class="form-group row">
        <label for="email" class="col-sm-3 col-form-label">Email:</label>
        <div class="col-sm-9">
          <input type="text" id="email" name='userEmail' class="form-control" [(ngModel)]="user.username"  pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                 placeholder="email" required  #email="ngModel">
        </div>
      </div>
      <div class="form-group row">
        <label for="pwd" class="col-sm-3 col-form-label">Password: <span class="fa fa-key"></span></label>
        <div class="col-sm-9">
          <input  type="password" id="pwd" name="password" class="form-control" [(ngModel)]="user.password"
                  placeholder="password" required #pwd="ngModel">
        </div>
      </div>
      <div class="form-group">
        <button type="submit"  class="btn btn-danger offset-sm-3 col-sm-9" (click)="submit(user)" >log in</button>
      </div>
      <div class="form-actions">
        <br>
        <a uiSref="signup">Do not have an account, sign up here</a>
      </div>
    </form>
  </div>
</div>

