table tr th {
  background-color: #3ec9cb;
  font-weight: 700;
  color:white;
  text-align: center;
}
table {
  /*color: #3ec9dc;*/
  font-weight: 400;
}

.table-hover tbody tr:hover {
  background-color: #E1FFC2;
  color: #EB4E1E;
  font-weight: 500;
  font-size: large;
  text-indent: 2px;
}
