.customBtns .btn-sm {
  border-radius: 30px;
  background: linear-gradient(to right, #CACFD2 , #A6ACAF);
  box-shadow: 2px 1px 5px 1px #969696;
}

.active {
  background-color: #E1FFC2;
}
.table tr:hover {
  background-color: #F8F9F9;
  cursor: pointer;
}

.filtering input, .filtering select {
  width: 200px;
  height:30px;
  border: 1px solid lightgray;
}
.fa-pencil, .fa-eraser, .fa-download {
  color: cornflowerblue;
}

.dynamicChangeCursor:hover {
  cursor: pointer;
  background-color: #E5E7E9;
}
