<div class="container-fluid">
  <br>
  <div style="width: 900px">
    <ngb-alert *ngIf="alert.successMessage" [type]="alert.type" dismissible="true" (close)="closeAlert()">{{alert.message}}</ngb-alert>
  </div>
  <h6>Device Summary</h6>

  <div class="row customBtns">
    <button type="button" class="btn btn-default btn-sm col-sm-1" (click)="editSelectedData()" [disabled]="!ifSelected" [ngClass]="{dynamicChangeCursor: ifSelected}">
      <i class="fa fa-pencil" aria-hidden="true"></i> Edit Selected
    </button>
    <!--delete-->
    <ng-template #content let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title">Confirm Device SN {{selectedMgtData.device_sn}}</h4>
      </div>
      <div class="modal-body">
        <div class="container">
          <p>Are you sure to delete device SN {{selectedMgtData.device_sn}}?</p>
          <br><br>
          <button type="button" class="btn btn-secondary col-sm-3" (click)="d()">Cancel</button>
          <button type="button" class="btn btn-danger col-sm-3 pull-right" (click)="c()">Confirm</button>
          <br><br>
        </div>
      </div>
    </ng-template>

    <button type="button" class="btn btn-default btn-sm offset-sm-1" (click)="deleteSelectedData(content)"
            [disabled]="!ifSelected" [ngClass]="{dynamicChangeCursor: ifSelected}">
      <i class="fa fa-eraser" aria-hidden="true"></i> Delete Selected
    </button>

    <!--delete-->
    <button type="button" class="btn btn-default btn-sm offset-sm-4 col-sm-1" (click)="create()">Create New</button>
    <button type="button" class="btn btn-default btn-sm col-sm-1">
      <a [href]="downloadUrl" download="deviceMgt.csv" style="color: black"> <span class="fa fa-download"></span> Export</a>
    </button>


    <!--filtering in popover-->
    <ng-template #popContent >
      <table class="filtering">
        <tr>
          <td>Device SN</td>
          <td><input  type="text"  [(ngModel)]="search.device_sn"></td>
        </tr>
        <tr>
          <td>Parent Clinic</td>
          <td><input type="text"  [(ngModel)]="search.parent_clinic"></td>
        </tr>
        <tr>
          <td>Status</td>
          <td>
            <select  [(ngModel)]="search.status">
              <option *ngFor="let s of options.status" [value]="s">{{s}}</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>Location</td>
          <select  [(ngModel)]="search.location">
            <option *ngFor="let s of options.location" [value]="s">{{s}}</option>
          </select>
        </tr>
      </table>
      <br>
      <button type="button" class="btn btn-default btn-sm " (click)="clearFilter(); popover.close()">Clear</button>
      <button type="button" class="btn btn-primary btn-sm pull-right" (click)="filter(search, popover)">Search</button>
    </ng-template>

    <button type="button" class="btn btn-default btn-sm col-sm-1" [ngbPopover]="popContent" #popover="ngbPopover" popoverTitle="Filters" placement="left">
      Filter <span class="fa fa-sort-desc"></span></button>
  </div>


  <!--table-->
  <table class="table table-hover table-sm table-responsive">
    <thead>
    <tr>
      <th><input type="checkbox" disabled></th>
      <th (click)="sortString('device_sn')">Device SN<span class="fa fa-sort-desc"></span>
      </th>
      <th (click)="sortString('status')">Status<span class="fa fa-sort-desc"></span></th>
      <th>Checked Out By</th>
      <th>Checked Out Date</th>
      <th (click)="sortString('location')">Location<span class="fa fa-sort-desc"></span></th>
      <th (click)="sortString('parent_clinic')">Parent Clinic<span class="fa fa-sort-desc"></span></th>
      <th (click)="sortString('sub_clinic')">Sub Clinic<span class="fa fa-sort-desc"></span></th>
      <th (click)="sortString('physician')">Physician<span class="fa fa-sort-desc"></span></th>
      <th (click)="sortString('billable')">Billable<span class="fa fa-sort-desc"></span></th>
    </tr>
    </thead>
    <tbody>
    <tr [hidden]="!deviceMgtData?.length" (click)="selectedOrUnselectRow(i)" [ngClass]="{active: classTrueOrFalse[i]}"
        *ngFor="let item of deviceMgtData | paginate: { itemsPerPage: RowsPerPage, currentPage: p }; let i=index">
      <!--<td><input type="checkbox" [value]="i" (change)="checkbox($event)"></td>-->
      <td><input type="checkbox" [ngModel]="classTrueOrFalse[i]"></td>
      <td>{{item.device_sn}}</td>
      <td>{{item.status}}</td>
      <td>{{item.checked_out_by}}</td>
      <td>{{item.checked_out_date | date: 'yyyy-MM-dd'}}</td>
      <td>{{item.location}}</td>
      <td>{{item.parent_clinic}}</td>
      <td>{{item.sub_clinic}}</td>
      <td>{{item.physician}}</td>
      <td><div [ngStyle]="billableStyle(item.billable)" class="text-center">{{item.billable}}</div></td>
    </tr>
    <div [hidden]="deviceMgtData?.length" class="text-center text-danger">No result found!</div>
    </tbody>
  </table>

  <div class="row">
    <div class="col-sm-5">
      <!--ngx-pagination-->
      <pagination-controls (pageChange)="p = $event" autoHide="true"></pagination-controls>
    </div>
    <div class="offset-sm-5 col-sm-2">
      <select [(ngModel)]="RowsPerPage">
        <option value="30" selected>30</option>
        <option value="50">50</option>
        <option value="100">100</option>
        <option value="200">200</option>
      </select>
    </div>
  </div>
</div>
